*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

 
}
body{
  background: url('https://images.wallpapersden.com/image/download/pokemon-pikachu-art_a25tbW6UmZqaraWkpJRmbmdlrWZlbWU.jpg') no-repeat   ;
  background-size: cover;
  background-attachment: fixed;
 
}
